body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
body {
  background-image: url("https://i.pinimg.com/1200x/ee/be/22/eebe22e7bfe6f95e4816d397f3e182df.jpg");
}