body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
body {
  background-image: url("https://i.pinimg.com/1200x/dd/fc/6c/ddfc6c63f6daed77b6425e653321cbda.jpg");
}