body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
body {
  background-image: url("https://i.pinimg.com/1200x/3f/20/d0/3f20d00a50cc5d104905058703bf52fc.jpg");
} 
